<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.pizzafactory.jp/dsl/rin/ItronCfg" 
       class = "jp.pizzafactory.dsl.rin.itronCfg.ItronCfgPackage"
       genModel = "model/generated/ItronCfg.genmodel" /> 
	
  </extension>



</plugin>
